@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

.bg-dark {
    --font-color-header: #fff;
}

.bg-light {
    --font-color-header: #222222;
}

.header-text {
    position: absolute;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: var(--font-color-header);
    transition: color 0.5s ease-in-out;
}

.header-text-h1 {
    opacity: 0;
    margin-left: -3rem;
    margin-bottom: -1rem;
    font-family: 'Poppins', sans-serif;
    transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
    font-size: clamp(0.5rem, 5vw, 4rem);
    font-weight: 600;
    width: 100%;
}

.header-text-h2{
    opacity: 0;
    margin-left: 3rem;
    transition: opacity 0.5s ease-in-out, margin 0.5s ease-in-out;
}

.header-text-h2 h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: clamp(0.2rem, 3vw, 2rem);
}

.header-text_in {
    opacity: 1;
    margin-left: 0;
}

.header-text-ul {
    list-style: none;
    padding-left: 0;
    width: 100%;
}

.header-text-ul li {
    position: relative;
    padding-left: 10%;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-text-ul li::before {
    content: "";
    display: block;
    width: 25%;
    height: 25%;
    background-image: url('../../public/assets/phoneIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
